
/* Colores */
$white : #ffffff;
$black : #000000;
$autor: 'Roboto Mono', monospace;


/* Fuente */
// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');
// Roboto Mono
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');
